.navbar{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    background-color: #D2691E;
}
.content{
    background-color: #FAEBD7;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

.news{
    width: 30%;
}
.content > p {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: space-between;
}

